// Text block to stream
var cities = """
      San Francisco
      Casablanca
      Antwerp
      New Delhi
      Osaka
""";

Stream<String> lines = cities.lines();

System.out.println(lines.toList());