// Filtering Gatherer
var strings = List.of("one", "two", "three", "four", "five");
Gatherer<String, ?, String> filtering =
   Gatherer.of(
      (_, element, downstream) -> {
         if (element.length() > 3) {
            return downstream.push(element);
         } else {
            return !downstream.isRejecting();
         }
      });
var result = strings.stream()
   .gather(filtering)
   .toList();
System.out.println("result = " + result);
