// Boolean Primitive Pattern
sealed interface JsonBoolean
    permits JsonTrue, JsonFalse {}
record JsonTrue() implements JsonBoolean {}
record JsonFalse() implements JsonBoolean {}

JsonBoolean box(boolean value) {
    return switch (value) {
      case true -> new JsonTrue();
      case false -> new JsonFalse();
    };
}

System.out.println("Boxing true: " + box(true));
System.out.println("Boxing false: " + box(false));
