// Null Final Field

class A {
    A() {
        a();
    }

    void a() {
        IO.println("This is A");
    }
}

class B extends A {
    private final String message ;

    B(String message) {
        this.message = message;
    }

    void a() {
        IO.println(message);
    }
}

var a = new A();
var b = new B("This is B");

