// Lazy Constants as Sets
enum Days {
    MONDAY, TUESDAY, WEDNESDAY, THURSDAY, FRIDAY, SATURDAY, SUNDAY
}

String validDays = "MONDAY THURSDAY SUNDAY";

class Wrapper {
    static final Set<Days> VALID_DAY =
          Set.ofLazy(
                EnumSet.allOf(Days.class),
                day -> {
                    IO.println("Checking day: " + day);
                    return validDays.contains(day.name());
                });
}

IO.println("Valid days are " + validDays);
var isMondayValid = Wrapper.VALID_DAY.contains(Days.MONDAY);
IO.println("Contains Monday: " + isMondayValid);
IO.println("Contains Monday (no more check): " + isMondayValid);
validDays = "TUESDAY THURSDAY SATURDAY";
IO.println("Updating valid days to " + validDays);
IO.println("Contains Monday (no more check): " + isMondayValid);
